<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let item of productList; let i = index">
      <ion-label>
        {{item.productCode}}
        {{item.quantity}}
        {{item.lotNumber}}
        {{item.expirationData}}
        <ion-input [(ngModel)]="item.removableQuantity" placeholder="Numero"></ion-input>
      </ion-label>
      <ion-button (click)="productRemove(item.productCode,i)">Rimuovi</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
