<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  Ultimo prodotto scannerizzato: {{scanData}} Aggiungi: <ion-input [(ngModel)]="quantityAdd" placeholder="N°" [disabled]="inputDisable()"></ion-input>
  <ion-button (click)="productAdd()">Aggiungi</ion-button>
  <ion-list>
    <ion-item *ngFor="let item of productList; let i = index">
      {{item.productCode}}: {{item.quantity}} <ion-input [(ngModel)]="item.removableQuantity" placeholder="Numero"></ion-input>
      <ion-button (click)="productRemove(item.productCode,i)">Rimuovi</ion-button>
    </ion-item>
  </ion-list>


  <br>
  <ion-button (click)="openScan()">Accendi lo scanner</ion-button>
  Versione 1.3.2
</ion-content>
